<div class="page-header">
  <%= link_to new_opinion_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New
  <% end %>
  <h1>Opinions</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Restaurant</th>
            <th>Opinion</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <tr>
              <td>Baja Fresh</td>
              <td><%= select_tag 'like', options_from_collection_for_select(['Like', 'Meh', 'Dislike'], :to_s, :to_s, 'Dislike') %></td>
            </tr>
        
            <td>Del Alma</td>
            <td><%= select_tag 'like', options_from_collection_for_select(['Like', 'Meh', 'Dislike'], :to_s, :to_s, 'Like') %></td>
          </tr>
          <tr>
                <td>Mc Donalds</td>
                <td><%= select_tag 'like', options_from_collection_for_select(['Like', 'Meh', 'Dislike'], :to_s, :to_s, 'Dislike') %></td>
              </tr>
              <tr>
                    <td>Taco Bell</td>
                    <td><%= select_tag 'like', options_from_collection_for_select(['Like', 'Meh', 'Dislike'], :to_s, :to_s, 'Dislike') %></td>
                  </tr>
                  <tr>
                        <td>Tokyo Grill</td>
                        <td><%= select_tag 'like', options_from_collection_for_select(['Like', 'Meh', 'Dislike'], :to_s, :to_s, 'Dislike') %></td>
                      </tr>
                      <tr>
                            <td>Yogurt Extreme</td>
                            <td><%= select_tag 'like', options_from_collection_for_select(['Like', 'Meh', 'Dislike'], :to_s, :to_s, 'Dislike') %></td>
                          </tr>

    </tbody>
  </table>
</div>
