<div class="page-header">
  <%= link_to new_opinion_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New
  <% end %>
  <h1>Friends</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Friend</th>
            <th>Going</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <tr>
              <td>Mahon</td>
              <td><%= check_box 'going', 'yolo' %></td>
            </tr>
        
            <td>Nick</td>
            <td><%= check_box 'going', 'yolo' %></td>
          </tr>
          <tr>
                <td>Nicole</td>
                <td><%= check_box 'going', 'yolo' %></td>
              </tr>
              <tr>
                    <td>Taylor</td>
                    <td><%= check_box 'going', 'yolo' %></td>
                  </tr>
    </tbody>
  </table>
</div>
