<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hungr!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "something.js" %>
    <%= javascript_include_tag "something_else.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Hungr", overviews_path, :class => "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= cp(overviews_path) %>">
            <%= link_to overviews_path do %>
              <span class="glyphicon glyphicon-home"></span>
              Home
            <% end %>
          </li>
          <li class="<%= cp(friends_path) %>">
            <%= link_to friends_path do %>
              <span class="glyphicon glyphicon-user"></span>
              Friends
            <% end %>
          </li>
          <li class="<%= cp(opinions_path) %>">
            <%= link_to opinions_path do %>
              <span class="glyphicon glyphicon-heart"></span>
              Opinions
            <% end %>  
          </li>
          <li class="<%=  %>">
            <a href="#contact">
              <span class="glyphicon glyphicon-wrench"></span>
              Settings
            </a>
          </li>
          <% if @current_user %>
            <li class="<%= cp(logout_path) %>">
              <%= link_to logout_path do %>
                <span class="glyphicon glyphicon-log-out"></span>
                Log Out
              <% end %>  
            </li> 
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, :class => "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable" do %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= msg %>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
